@use '../../../../styles/mixins.module' as *;
@use '../../../../styles/variables.module' as *;

.chatShortcut {
  @include flex-center-xy;
  background-color: $white;
  flex-direction: column;
  padding: 1em 2.2em 1em 2.2em;
  border-radius: 1.2em;
  box-shadow: 0.2em 0.2em 0.2em #1b1b1b1b;
  transition: 0.2s;
  cursor: pointer;
  border: 0;

  &:hover {
    scale: 1.05;
  }

  &:active {
    background-color: rgb(240, 244, 253);
  }

  &__heading {
    display: flex;
    width: 100%;
    gap: 1em;

    &__chatIcon {
      justify-self: self-start;
    }

    &__chatName {
      color: $navy;
      margin: 0;
    }
  }

  &__chatParticipants {
    display: flex;
    margin-right: 0.1em;
    opacity: 0.8;
    list-style: none;
    flex-wrap: wrap;
    gap: 0.3em;
    padding: 0;
  }
}
