@use '../../../styles/mixins.module' as *;
@use '../../../styles/variables.module' as *;
.table {
  &__content {
    @include flex-center-xy;
    gap: 2em;
    flex-wrap: wrap;
    padding: 1em;
    height: auto;
    width: 100%;
  }

  &__controls {
    &__button {
      border: 1px solid rgba(0, 0, 0, 0.507);
      background-color: transparent;
      border-radius: 50%;
      cursor: pointer;
      margin: 0 0.2em 0 0;
      min-width: 2.2em;
      min-height: 2.2em;

      &:disabled {
        border: 1px solid $navy;
        background-color: $navy;
        color: $white;
      }
    }
    &__refresh {
      background-color: transparent;
      border: none;
      font-weight: 1000;
      cursor: pointer;
    }
  }
}
