@use '../../styles/mixins.module' as *;
@use '../../styles/variables.module' as *;

@mixin hero-wave {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  content: '';
  height: 40%;
  background-image: url('../../../common/images/static/herowave.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -10;
  opacity: 0.5;
}

.container {
  @include flex-center-xy;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  padding: 8em 1em 1em 1em;
  border-radius: 5px;

  &::before {
    @include hero-wave;
    animation: wave1 14s infinite;
  }

  &::after {
    @include hero-wave;
    animation: wave2 10s infinite;
    height: 50%;
  }

  @keyframes wave1 {
    0%,
    100% {
      transform: translateZ(100%);
    }
    50% {
      transform: scale(150%);
    }
  }

  @keyframes wave2 {
    0%,
    100% {
      transform: translateZ(100%);
    }
    50% {
      transform: scale(130%);
    }
  }

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.form {
  display: flex;
  max-width: 50em;
  width: 30%;
  min-width: 22em;
  position: relative;
  flex-direction: column;
}

.formGroup {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 20px;

  label {
    font-size: 16px;
    margin-bottom: 5px;
  }

  input[type='email'],
  input[type='password'] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10em;
  }

  .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
}

.submitButton {
  @include flex-center-xy;
  background-color: $yellow;
  padding: 10px 20px;
  border: none;
  border-radius: 15em;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  width: 10em;

  &:hover {
    box-shadow: inset 0.4em 0.4em 0.4em #1b1b1b4b;
  }
}
