@use '../../../../styles/mixins.module' as *;
@use '../../../../styles/variables.module' as *;

.chatInfo {
  margin-bottom: 16px;
  font-size: 0.9rem;
  color: $grayText;

  p {
    margin: 4px 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;

  .input {
    padding: 8px;
    border: 1px solid $borderPrimary;
    border-radius: 4px;
    font-size: 1rem;
  }

  .error {
    color: $error;
    font-size: 0.8rem;
  }

  .addButton {
    background-color: $lightNavy;
    color: $white;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($lightNavy, 10%);
    }
  }
}

.participants {
  margin: 16px 0;

  &__list {
    @include listScrollBar;
    padding-right: 8px;
    overflow-y: auto;
    height: 195px;
  }

  h4 {
    font-size: 1.1rem;
    margin-bottom: 8px;
  }

  .participant {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    padding: 8px;
    background-color: $lightGray;
    border: 1px solid $borderSecondary;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .participantInfo {
      display: flex;
      align-items: center;

      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 12px;
      }

      .details {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .fullName {
          font-weight: bold;
          font-size: 0.95rem;
          color: $black;
        }

        .email {
          font-size: 0.85rem;
          color: $grayText;
        }

        .role {
          font-size: 0.85rem;
          color: $grayText;
        }

        .profileLink {
          font-size: 0.8rem;
          color: $lightNavy;
          text-decoration: underline;
          cursor: pointer;

          &:hover {
            color: darken($lightNavy, 10%);
          }
        }
      }
    }

    .removeButton {
      background-color: $error;
      color: $white;
      padding: 4px 8px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken($error, 10%);
      }
    }
  }
}

.toggleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }

  img {
    width: 20px;
    height: 20px;
  }
}
