@mixin flex-center-xy {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-x {
  display: flex;
  align-items: center;
}

@mixin flex-center-y {
  display: flex;
  justify-content: center;
}

@mixin default-button {
  width: auto;
  height: auto;
  padding: 0.5em 2em 0.5em 2em;
  font-size: 0.9em;
  border-radius: 3em;
  transition: 0.2s;
  cursor: pointer;
}
