// MenteeForm.module.scss

.form {
  max-width: 800px;
  margin: 140px auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}

.description {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}

.field {
  margin-bottom: 20px;
}

.label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: 500;
}

.input,
.select,
.textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  transition: border-color 0.2s ease-in-out;

  &:focus {
    border-color: #4285f4;
    outline: none;
  }
}

.textarea {
  height: 100px;
  resize: vertical;
}

.error {
  color: #d93025;
  font-size: 14px;
  margin-top: 4px;
}

.themesInput {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.removeButton {
  margin-left: 10px;
  padding: 8px 12px;
  background-color: #d93025;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #b71c1c;
  }
}

.addButton {
  padding: 8px 12px;
  background-color: #4285f4;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #357ae8;
  }
}

.submitButton {
  width: 100%;
  padding: 12px 20px;
  background-color: #4285f4;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #357ae8;
  }
}

.tosField {
  display: flex;

  &__checkbox {
    margin-right: 20px;
    scale: 1.4;
  }

  label {
    font-size: 14px;
    opacity: 0.8;
  }
}
