@use '../../../../../styles/variables.module' as *;

.mobile_menu {
  display: none;
  position: absolute;
  right: 0;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  height: auto;
  &:active > .mobile_menu__deco_line {
    transform: scaleX(120%);
  }

  & .mobile_menu__deco_line {
    display: flex;
    width: 40px;
    height: 4px;
    margin: 8px;
    background-color: $black;
    border-radius: 20px;
    transition: 0.2s;
  }

  @media (max-width: 1080px) {
    display: block;
  }

  @media (max-width: 380px) {
    right: -1em;
  }
}
