.mobile_menu {
    display: none;
    position: absolute;
    right: 0; 
    cursor: pointer;
    background-color: transparent;
    border: 0;
    height: auto;
    &:active > .mobile_menu__deco_line{
        transform: scaleX(120%);
    }

    & .mobile_menu__deco_line {
        display: flex;
        width: 40px;
        height: 4px;
        margin: 8px;
        background-color: green;
        border-radius: 20px;
        transition: .2s;
    }

    @media (max-width: 1080px) {
        display: block;
    }
}
