@use "../../../common/styles/variables.module" as *;

.navbar {
    height: auto;
    background-color: $white; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0em 1em 0em;
    font-size: 1rem;
    position: relative;
    

    &__buttons_wrapper {
        display: flex;
        position: absolute;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__auth_wrapper a {
        margin: .5em;
        
    }

    &__logo, &__auth_wrapper {
        margin: 0 3% 0 3%;
    }

    &__logo_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    @media (max-width: 1300px) {
            &__buttons_wrapper {
            position: inherit;
            width: auto;
        };
    }

    @media (max-width: 1080px) {
        & {
            overflow: hidden;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding: 1em;
            transition: 1s;
        }

        &__buttons_wrapper {
            position: inherit;
            width: 100%;
            justify-content: space-around;
            flex-wrap: nowrap;
        };
        &__logo_wrapper {
            width: 100%;
        }
        &__auth_wrapper {
            margin: 0;
        }
    }

    @media (max-width: 380px) {
        & {
            padding: 0;
            margin: 0;
        }
        &__buttons_wrapper {
            width: 100%;
        }
    }
}
