/* components/MyForm.module.scss */

.myForm {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  max-width: 400px;
  margin: 9em auto 0 auto;

  .formGroup {
    margin-bottom: 16px;

    label {
      font-weight: bold;
    }

    input[type='text'],
    input[type='number'],
    textarea,
    select {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .error {
      color: red;
    }
  }

  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}
